body {
  font-family: "eesti";
  font-size: 16px;
  background: #333;
  color: #eee;
}

#container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.home {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Soleil;
  background: #000;
}

.home__title {
  text-align: center;
  text-transform: uppercase;
}

.home__start {
  font-family: Soleil;
  text-transform: uppercase;
  position: absolute;
  bottom: 100px;
}

.home__help {
  position: fixed;
  bottom: 100px;
  background: black;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
}

.scroll__help {
  width: 4px;
  height: 100%;
  background: rgb(66, 66, 66);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.scroll__bar {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  transform-origin: top;
  transform: scaleY(0.2);
}

@media (max-width: 750px) {
  .container {
    padding: 0 24px;
  }
}
