.help {
  position: fixed;
  top: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 3;
  opacity: 1;
  pointer-events: none;
  font-family: Soleil;
  font-size: 20px;
  text-transform: uppercase;
  opacity: 0;
}

.help__scroll {
  display: none;
  opacity: 1;
  height: 100%;
}

.help__click {
  position: relative;
  width: 600px;
  p {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .mobile {
    opacity: 0;
  }
}
@media (max-width: 756px) {
  .help {
    // font-size: 12px;
  }
}
