.home {
  // display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Soleil;
}

.line {
  background: #eee;
  width: 100%;
  height: 1px;
  z-index: 1;
  position: fixed;
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
}
.progress {
  background: #fff;
  width: 100%;
  height: 10px;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  transform-origin: left;
  transform: scaleX(0.1);
  opacity: 1;
}
.timecode__container {
  position: fixed;
  z-index: 1;
  color: #fff;
  right: 16px;

  p {
    opacity: 0;
    padding: 16px;
    margin-top: 10px;
  }
}
.home__subtitle {
  text-transform: uppercase;
  overflow: hidden;
  h2 {
    transform: translateY(-100%);
  }
}

.home__title {
  font-size: 56px;
  overflow: hidden;
}

.home__start {
  z-index: 1;
  font-family: Soleil;
  text-transform: uppercase;
  position: absolute;
  top: 52.5%;
  transition: opacity 0.2s ease;
  opacity: 1;
  color: #fff;
  overflow: hidden;
  p {
    transform: translateY(0);
  }

  &:hover {
    opacity: 0.5;
  }
}
