.home {
  // display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Soleil;
}

.home .bg {
  height: 50vh;
  width: 100vw;
  position: fixed;
  left: 0;
  z-index: 0;
  background: #000;
}
.home .bg__top {
  top: 0;
  transform-origin: top;
}

.home .bg__bottom {
  bottom: 0;
  transform-origin: bottom;
}

.line {
  background: #f00;
  width: 100%;
  height: 1px;
  z-index: 1;
  position: fixed;
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
}
.progress {
  background: #f00;
  width: 100%;
  height: 5px;
  z-index: 1;
  position: fixed;
  left: 0;
  bottom: 8vh;
  transform-origin: left;
  transform: scaleX(0.1);
  opacity: 0.2;
}

.home__title {
  margin-left: -600px;
  z-index: 1;
  text-transform: uppercase;
  .title__bottom {
    margin-top: 6px;
  }
}

.home__start {
  font-family: Soleil;
  text-transform: uppercase;
  position: absolute;
  left: 65%;
  bottom: 400px;
  transition: opacity 0.2s ease;
  opacity: 1;

  &:hover {
    opacity: 0.5;
  }
}
