.text {
  width: 100%;
  text-align: center;
  font-family: "Moniqa";
  font-size: 3vw;
  text-transform: uppercase;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text__intro {
  top: 50%;

  color: #fff;
}

.text__point {
  opacity: 0;
  font-size: 5vw;
  top: 90%;
  color: #ff0057;
}
